:root {
    --main: #2B2B2B;
    --sec: #585857;
    --main-txt: #FFFFFF;
    --sec-txt: #000000;
    --btn: #4C7177;
    --btn-bdr: #526467;
    background-color: var(--main);
  }

  /* Margin for header spacing */
  header {
    margin: 20px;
  }
  
  /* Adding flexbox to center the navbar */
  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Aligning navbar elements */
  .nav-bar ul {
    margin: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Changing logo style on hover */
  header img:hover {
    opacity: 0.65;
  }
  
  /* Styling navbar links */
  .nav-bar li a {
    padding: 20px;
    text-decoration: none;
    color: var(--main-txt);
  }
  
  /* Changing link style on hover */
  .nav-bar li a:hover {
    color: var(--btn-bdr)
  }
  
  /* Styling the navbar button */
  .nav-bar button {
    width: 120px;
    height: 50px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--btn-bdr);
    background-color: var(--btn);
    font-weight: bold;
    color: var(--main-txt);
  }
  
  /* Changing button style on hover */
  .nav-bar button:hover {
    background-color: var(--btn-bdr);
    color: var(--main-txt);
  }